.card-home-page-view{
    /* border: 3px solid palevioletred; */
    min-height: 100px;
    color: #000
}

.card{
    border: 1px solid grey;
    padding: 12px;
    color: whitesmoke;
    border-radius: 3px;
    background: #334f5f;
    box-shadow: rgb(0 0 0 / 40%) 0px 2px 4px, rgb(0 0 0 / 30%) 0px 7px 13px -3px, rgb(0 0 0 / 20%) 0px -3px 0px inset;
}

.card-home-page-view__card__img{
    max-width: 150px;
    border: 1px solid grey;
    border-radius: 2.5px;
    padding: 8px;
    box-shadow: rgba(240, 131, 109, 0.485) 0px 1px 4px;
}

.card__img{
    width: 100%;
    border: 2px solid rgb(171, 155, 155);
    border-radius: 2.5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.card__div-text-container{
    display: flex;
    padding-left: .5rem;
    margin: .4rem 0;
}

.card__div-text-container span:last-child{
    margin-left: 1rem;
}