.form{
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 2px solid rgba(245, 245, 245, 0.632);
    border-radius: 5px;
    max-width: 500px;
    margin: auto;
    padding: 2rem;
    border-radius: 68px;
    color: rgba(250, 235, 215, 0.627);
}

.form p:first-child{
    text-align: center;
    font-size: x-large;
}

.form label{
    margin-bottom: .4rem;
    font-size: large;
}

.form input{
    margin-bottom: .4rem;
    height: 2rem;
    font-size: large;
    background: rgba(245, 245, 245, 0.602);
    border: 1px solid rgba(245, 245, 245, 0.632);
}

.form__button-container {
    margin-top: .9rem;
    display: flex;
    padding: 0 1rem;
}

.form__button-container button:last-child{
    margin-left: auto;
}

.form-wrapper__button-wrapper{
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

.form-wrapper__button-wrapper-added{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: rgba(250, 235, 215, 0.627);
    font-size: xx-large;
    text-align: center;
    min-height: 15rem;
    padding: 0 5rem;

    background: rgba(0, 0, 0, 0.405);
}

.form-wrapper__button-wrapper span{
    color: rgba(250, 235, 215, 0.627);
    font-size: x-large;
    padding-top: .5rem;
    margin: 0 2.2rem;
}